<div class="login">
	<div class="logo">
		<a ui-sref="home">
			<img src="../assets/frontend/onepage/img/logo/logo.png" alt="" class="img-thumbnail" style="opacity:0.7" />
		</a>
	</div>
	<div class="menu-toggler sidebar-toggler"></div>
	<div class="content">
		<form action="index.html" method="post">
			<h3>Olvidaste tu contraseña?</h3>
			<p> Escribe tu dirección de correo electrónico o tu nombre de usuario. </p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="email/usuario" name="email" /> </div>
			</div>
			<div class="form-actions">
				<a ui-sref="login" id="back-btn" class="btn red btn-outline"> <i class="fa fa-chevron-left"></i> Atrás</a>
				<button type="submit" class="btn green pull-right"> Enviar </button>
			</div>
		</form>
	</div>
</div>
