<div class="login">
	<div class="logo">
		<a ui-sref="home">
			<img src="../assets/frontend/onepage/img/logo/logo.png" alt="" class="img-thumbnail" style="opacity:0.7" />
		</a>
	</div>
	<div class="menu-toggler sidebar-toggler"></div>
	<div class="content">
		<form class="" action="index.html" method="post">
			<h3>Crear cuenta</h3>
			<p> Ingresa tus datos: </p>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Nombre</label>
				<div class="input-icon">
					<i class="fa fa-font"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="Nombre" name="name" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Apellido paterno</label>
				<div class="input-icon">
					<i class="fa fa-font"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="Apellido paterno" name="lastname" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Apellido materno</label>
				<div class="input-icon">
					<i class="fa fa-font"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="Apellido materno" name="lastname2" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Correo electrónico</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="email" name="email" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Dirección</label>
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="Dirección" name="address" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Ciudad/Estado</label>
				<div class="input-icon">
					<i class="fa fa-location-arrow"></i>
					<input class="form-control placeholder-no-fix" type="text" placeholder="Ciudad/Estado" name="city" /> </div>
			</div>
			<p> Ingrese los detalles de la cuenta: </p>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Nombre de usuario</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario" name="username" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Contraseña" name="password" /> </div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Confirmar contraseña</label>
				<div class="controls">
					<div class="input-icon">
						<i class="fa fa-check"></i>
						<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirmar contraseña" name="rpassword" /> </div>
				</div>
			</div>
			<div class="form-group">
				<label>
					<input type="checkbox" name="tnc" /> Estoy de acuerdo con los
					<a href="javascript:;"> Términos de servicio </a> y
					<a href="javascript:;"> Políticas de privacidad </a>
				</label>
				<div id="register_tnc_error"> </div>
			</div>
			<div class="form-actions">
				<a id="register-back-btn" ui-sref="login" class="btn red btn-outline"><i class="fa fa-chevron-left"></i> Atrás </a>
				<button type="submit" id="register-submit-btn" class="btn green pull-right"> Registro </button>
			</div>
		</form>
	</div>
</div>
